body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
.paragraph {
  line-height: 30px;
}
.flaxible-container {
  display: flex;
  margin-bottom: 120px;
}
.Orange-color {
  color: orange;
}
.top-section {
  background-image: url("../images/top-banner.png");
  background-repeat: no-repeat;
}
.middle-section {
  background-image: url("../images/dream-bg.png");
  background-repeat: no-repeat;
  background-position: right;
}
.half-width {
  width: 50%;
  padding-left: 10%;
}
.half-width1 {
  width: 50%;
  padding-right: 7%;
}
.half-width img {
  width: 85%;
}
.btn {
  color: white;
  background-image: linear-gradient(orange, red);
  padding: 10px 40px;
  text-decoration: none;
  border-radius: 5px;
}
.Experiences {
  margin-left: 30px;
}
.experience-item {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 25px orangered;
}
.Bottom-section {
  background-image: url("../images/exp-bg.png");
  background-repeat: no-repeat;
  background-position-y: 100px;
}
.experience-item {
  border-left: 5px solid;
  border-image: linear-gradient(tomato, orange);
  border-image-slice: 1;
}
#baby-dev {
  border-left: 5px solid;
  border-image: linear-gradient(green, blue);
  border-image-slice: 1;
}
