body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
section {
  display: flex;
}
.Orange-color {
  color: orange;
}
.top-section {
  background-image: url("../images/top-banner.png");
  background-repeat: no-repeat;
}
.half-width {
  width: 50%;
  padding-left: 10%;
}
.img-1 {
  padding-right: 10%;
  padding-top: 10px;
}
.hire-btn {
  color: white;
  background-image: linear-gradient(orange, red);
  padding: 10px 40px;
  text-decoration: none;
  border-radius: 5px;
}
